/* css styling for all html files, basic styling for website*/
html {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 170, 0,);
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-top: 20px;
    overflow: hidden;
    background-color: #333;
  }
  
.navigation #gualbertos-logo {
    float: left;
    font-size: large;
    color: rgb(0, 170, 0);
}

.navigation li {
    float: left;
  }
  
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navigation li a:hover {
    background-color: #111;
    text-decoration: underline;
}

/* row list */
.row-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px 400px;
    grid-gap: 10px;
}


.uber-eats-icon,
.postmates-icon,
.clover-icon,
.grubhub-icon {
    width: 200px;
    height: auto;
  }
