#menu-btn,
#about-btn,
#catering-btn,
#apply-btn,
#contact-us-btn {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

#menu-btn a,
#about-btn a,
#catering-btn a 
#apply-btn a,
#contact-us-btn a {
    background: green;
    border: 1px solid green;
    border-radius: 3px;
    background: white;        
    border: 1px solid green;
    color: green;
}


#menu-btn a:hover,
#about-btn a:hover,
#catering-btn a:hover,
#apply-btn a:hover,
#contact-us-btn a:hover  {
    background: white;
    border: 1px solid green;
    color: red;
}