.buttons {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.buttons a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}


.buttons a:hover {
    background: white;
    border: 1px solid red;
    color: red;
}